<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
<style>
	table,tr,th,td { border:1px solid black; border-collapse: collapse; font-size:x-large}
	td {background:darkgrey;padding:3px;color:white;font-size:x-large}
</style>
	</head>
	<body>
	<a href="/uploader2/">Upload new product csv</a>
	<a href="/reader/">Get Product Data From CSV</a>
	{%block content_root%}
	{%endblock%}
	</body>
</html>
