<html>
	<head>
		<title>CSV to Viewable</title>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
<style>
	table,tr,th,td { border:1px solid black; border-collapse: collapse; font-size:x-large}
	td {background:darkgrey;padding:3px;color:white;font-size:x-large}
</style>
	</head>
	<body>
		<div id="uploader" style="background:red;color:white;border:2px solid black;padding:2px">
			<form method="post" enctype="multipart/form-data">
				{%csrf_token%}
				{{upload_form}}	
				<input type="submit" value="OK" >
			</form>
		</div>
		<div id="results">
			<table>
				<tr>
					<th>Name</th>
					<th>Barcode</th>
					<th>Price</th>
					<th>Bar</th>
					<th>Count</th>
				</tr>

				{%for row in results%}
				<tr>
					<td>{{row.0.name}}</td>
					<td>{{row.0.barcode}}</td>
					<td>{{row.0.price}}</td>
					<td><img src="{{row.0.bar_img}}" /></td>
					<td>{{row.1}}</td>
				</tr>
				{%endfor%}
			</table>
		</div>
	</body>
</html>
